.container{
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(223, 223, 231);
}
.container img{
    height: 70px;
    margin-left: 100px;
    width: auto;

}
.account{
    width: 20%;

}

.acoount1{
   justify-content: space-between;
  
}
.small{
    border: 1px solid  #3D081B;
    height: 30px;
    width: 100%;
    background-color: #3D081B;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* .menu-icon {
    font-size: 1.8rem;
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    background:red;
    border-radius: 3px;
    color:white;
    display: none;
    border: 15px solid var(--bg-color);
} */